Total.acn
Total.acr
Total.aux
Total.blg
Total.log
Total.lot
Total.toc
Total.idx
Total.fls
Total.ind
Total.out
Total.synctex(busy)
Total.ilg
Total.alg
Total.bbl
Total.fdb_latexmk
Total.glg
Total.glo
Total.gls
Total.ist
Total.synctex.gz
